<div class="mt-10 flex sm:flex-row flex-col justify-between items-center gap-4">
    <h1 class="text-custom-neutral-900 dark:text-white text-3xl font-bold">Extensions List</h1>

    <div class="flex items-center gap-4">
        <button class="cbtn"
         (click)="getAllExtensions()"
         [ngClass]="{ 'clicked': activeFilter === 'all' }">
         All
        </button>
        <button class="cbtn"
         (click)="getActiveExtensions()"
         [ngClass]="{ 'clicked': activeFilter === 'active' }">
         Active</button>
        <button class="cbtn"
         (click)="getInactiveExtensions()"
         [ngClass]="{ 'clicked': activeFilter === 'inactive' }">
         Inactive
        </button>
    </div>
</div>
<div class="grid lg:grid-cols-3 sm:grid-cols-2 gap-5 mt-8">
    <app-grid
        *ngFor="let extension of extensions"
        [extension]="extension"
        (onDeleteExtension)="deleteExtension(extension)"
        (onToggleStatus)="toggleStatus(extension)"
    ></app-grid>
</div>
