<!-- <div class="modal" role="dialog" id="delete_modal_{{extension.id}}">
    <div class="modal-box flex justify-center items-center flex-col bg-custom-neutral-0 dark:bg-custom-neutral-800">
      <h3 class="text-2xl text-custom-neutral-900 dark:text-custom-red-500 font-bold">Are you sure?</h3>
      <p class="py-3 text-custom-neutral-600 dark:text-neutral-400">Do you want to delete <span class="text-custom-neutral-900 dark:text-custom-red-500 font-medium text-base"> {{extension.name}}</span> Extension</p>
      <a class="btn btn-sm btn-circle btn-primary absolute right-2 top-2" href="#">x</a>
  
      <div class="modal-action justify-between">
          <a href="#"> 
           <button class="px-7 py-2 dark:bg-custom-neutral-800 dark:text-white dark:hover:text-white dark:hover:border-custom-red-400 dark:hover:bg-custom-red-400 bg-white rounded-xl text-custom-neutral-800 border-[0.5px] border-custom-neutral-300 dark:border-custom-neutral-600 shadow-sm transition ease-linear duration-300 hover:bg-custom-neutral-800 hover:text-white"> Cancel</button>
          </a>
          <a href="#">
              <button class="px-7 py-2 dark:bg-custom-neutral-800 dark:text-white dark:hover:text-custom-neutral-900 dark:hover:border-custom-red-400 dark:hover:bg-custom-red-400 bg-custom-red-500 rounded-xl text-white border-[0.5px] border-red-500 dark:border-custom-neutral-600 shadow-sm transition ease-linear duration-300 hover:bg-custom-red-600 hover:text-white" (click)="onDelete(extension)"> Delete</button>
          </a>
      </div>
    </div>
</div> -->

<!-- <h1 mat-dialog-title>Are you sure?</h1>
<div mat-dialog-content>
    Do you want to delete <span class="text-custom-neutral-900 dark:text-custom-red-500 font-medium text-base"> {{extension.name}}</span> Extension
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div> -->  